RewriteEngine On
RewriteBase /

RewriteRule ^$ webgate/index.php/?url=index [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ webgate/index.php/?url=$1 [L]
RewriteRule ^app/web/$ webgate/index.php/?url=$1 [L]
