html, body {
  height: 100%;
}

/* --  */
.bg_blue {
    background: #07507f;
/*    bg-dark before*/
}

.btn_blue {
    background-color: #4C86B3;
    color: #fff;
}

.btn_blue:hover {
    background-color: #4280A4;
    color: #fff;
}

.btn_fill {
    width: 100%;
}

.d_block {
  display: block;
}

.d_none {
  display: none;
}

.bold {
  font-weight: 600;
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

header {
  position: relative;
  z-index: 1;
}

#waiting_scr {
    display: none;

    background-color: rgba(150, 150, 150, 0.95);
    height: 100vh;
    width: 100%;
    position: fixed;
/*    z-index: 99;*/
/*    display: flex;*/
    flex-direction: column;
    justify-content: center;
    text-align: center;

    color: white;
    font-size: 2.4em;
    font-weight: 600;
}


.content {
    flex: 1;
}

footer {
    width: 100%;
    min-height: 100px;
    line-height: 100px;
    text-align: center;
}

footer p {
    margin-bottom: 0;
}



.vertical_center {
    min-height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.float_right {
    float: right;
}




/* NAVBAR */

nav {
  background-color: rgba(20, 20, 20, 0.8);
}

.bg_dark, .nav_dark nav {
    background-color: #444;
}

nav.navbar a {
    color: #fff;
}

.main_menu {
    min-width: 100%
    justify-content: space-between;
}

.main_menu a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
}

@media only screen and (max-width: 1100px) {
    .main_menu {
        width: 60%;
        justify-content: flex-start;
        padding: 0 18px;
    }

    .main_menu a {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
    }

    .navbar-brand {
        display: none;
    }
}



nav.navbar a:hover {
    color: #eee;
}

.navbar_cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    width: 180px;
}

.login_box {
    width: 180px;
}

.login_cont {
    width: 100%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item.no_link {
    min-width: 100px;
    font-size: 1.1em;
    letter-spacing: 1px;
    font-weight: 600;
}

.login_cont .log a {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
    }

@media only screen and (max-width: 768px) {
    .main_menu {
        width: auto;
        justify-content: space-between;
    }

    .navbar_cont {
        flex-direction: column;
        position: relative;
        z-index: 1;
    }

    .logo {
        display: none;
    }

    .login_box {
        width: 100%;
    }

    .login_cont {
        justify-content: center;
    }



}

/* Customize bootstrap styles */

nav.bg-dark {
    background-color: aliceblue;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.logo {
    width: 160px;
}

.navbar a{
    color: #eee;
}

.navbar a:hover {
    color: #ccc;
}

.no_link a:hover {
    text-decoration: none;
    color: #eee;
}

@media only screen and (max-width: 768px) {
    .no_link {
        display: none;
    }
}

.navbar-nav {
    text-align: center;
}



/* MAIN PAGE / Bookmarks  */
.hero_image {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url('../img/mike-kotsch-xAgvgQpYsf4-unsplash.jpg');
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main_container {
  width: 100%;
  position: absolute;
  top: 20%;
  height: 60%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box_wrapper {
  height: 90%;
  width: 100%;
  /*  */
  color: #fff;
  position: relative;

}

.dots {
  position: relative;
}

.dot {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 8px;
  background-color: #777;
}

.active {
  background-color: #ddd;
}

.aside_left {
  transform: translateX(-2000px);
  transition: transform 0.5s ease;
}

.aside_right {
  transform: translateX(2000px);
  transition: transform 0.5s ease;
}


.content_box {
  transition: transform 0.5s ease;
  width: 100%;
}

.content_box h1 {
  font-size: 8em;
  /* border-bottom: 1px solid #ddd; */
  padding: 0 48px;
  text-align: center;
  text-shadow: 1px 1px 6px #444;
}

.content_box h2 {
  font-size: 3.4em;
}


#main_box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cal_box {
  position: absolute;
  bottom: 0px;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#calendar .month_arrow {
  color: #eee;
}

#calendar .month_cal_week {
  height: 50px;
  border-color: #aaa;
}

#calendar .month_cal_cell {
  width: 50px;
}

#calendar .month_cal_cell a {
  color: #fff;
}

#calendar .sunday {
  color: #ddd;
}

#calendar .month_cal_cell a.sunday {
  color: #ddd;
}

@media only screen and (max-width: 768px) {
  .main_container {
    top: 10%;
    height: 70%;
  }

  .content_box h1 {
    font-size: 4em;
  }

  #calendar .month_cal_week {
    height: 40px;
  }

  #calendar .month_cal_cell {
    width: 40px;
  }
}

#calendar .today {
  border-radius: 50%;
  opacity: 0.6;
}


.bm_box {
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto 20px;

    background: rgba(200, 200, 200, 0);
    border-radius: 3px;
    border: 0;
    padding: 5px;
    color: #222;
}


.bm_box .input-group {
    width: 100%;
}

.bm_box .btn {
    width: 100px;
    z-index: 0;
}


.bm_box h4 {
    font-size: 1.3em;
    font-weight: 600;
}

.bm_box_p {
    align-self: flex-start;
    margin-left: 12px;
    color: #fff;
}

.input_box {
  width: 96%;
}

.input_box .search {
  border-radius: 22px;
  border: none;
  -webkit-box-shadow: 0px 1px 6px 0px rgba(64,64,64,1);
  -moz-box-shadow: 0px 1px 6px 0px rgba(64,64,64,1);
  box-shadow: 0px 1px 6px 0px rgba(64,64,64,1);
}

#new_bookmark_btn {
    color: #FFF;
}

.event_text {
  display: none;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 600px;

  text-align: center;
  color: #fff;
}

@media only screen and (max-width: 1300px) {
  .event_text {
    min-width: 300px;
  }
}



.event_text h2 {
  font-size: 2.4em;
}
.event_text a .normal {
  font-size: 2em;
  color: #ccc;
  text-decoration: none;
}

.event_text a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 1300px) {
  .event_text h2 {
    font-size: 1.6em;
  }

  .event_text a .normal {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 768px) {
  .bm_box {
    width: 96%;
  }

  .event_text h2 {
    font-size: 1.2em;
  }

  .event_text a .normal {
    font-size: 1.1em;
  }
}


.geo {
  position: absolute;
  top: 60px;
  right: 12px;
}

.location {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;

    font-size: 1.3em;
}

#location_name {
    margin: auto 0.6em;
    font-weight: 600;
}

.weather {
    font-weight: 400;
}

.weather p {
    margin-bottom: 0;
}

#weather_credit {
    font-size: 0.4em;
    color: #aaa;
    text-align: right;
}

@media only screen and (max-width: 768px) {
    .geo {
      top: 50px;
    }

    .location {
      font-size: 1em;
      margin-top: 6px;
      right: 2px;
    }

    .content_box h2 {
        font-size: 1.4em;
    }
}



.main_alert {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.alert {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    text-align: center;
}

.fixed_alert {
    position: fixed;
    z-index: 100;
    width: 700px;
    max-width: 98%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* BOOKMARK Form */

#bookmark_form_cont {
    display: none;
    width: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}


@media only screen and (max-width: 768px) {
    #bookmark_form_cont {
        width: 90%;
    }

}


/* BOOKMARK Container */

.main_box {
    /* position: relative; */
}

.search_box {
  position: relative;
}

#bookmark_cont {
    display: none;
    width: 640px;
    max-width: 100%;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-height: 150px;
    overflow-y: scroll;
}

@media only screen and (max-width: 768px) {
    #bookmark_cont {

    }

}

.list-group-item {
    display: flex;
    justify-content: space-between;
}

.list-group-item a {
    color: #222;
}

.list-group-item:hover {
    background: #4280A4;
}

.list-group-item:hover a {
    text-decoration: none;
    color: #FFF;
}

.bm_link {
    display: inline-block;
    text-align: left;
    width: 80%;
    overflow-x: hidden;
}

.list-group-item .rmv {
    font-size: 1em;
    color: #777;
    cursor: pointer;
}



/* Events */
#event_form_cal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 16px;
  width: 480px;
  max-width: 90%;
  z-index: 2;
}


/* Main Page bottom */
.picture_details {
  position: absolute;
  bottom: 6px;
  left: 6px;
  color: #eee;
}

.picture_details #pic_name {
  display: inline-block;
  padding: 0 10px;
  font-size: 1.1em;
}

.picture_details a {
  font-size: 0.8em;
  color: #ccc;
}

.picture_details #hide_wid {
  display: inline-block;
  margin: auto 8px;
}

.picture_details #hide_wid a {
  font-size: 1.2em;
}

.copyright {
  position: absolute;
  bottom: 6px;
  right: 8px;
  color: #eee;
}

.copyright a {
  color: #ccc;
}

@media only screen and (max-width: 768px) {
  .picture_details {
    bottom: 28px;
    right: 16px;
    left: auto;
  }

  .copyright {
    right: 16px;
  }
}

.waiting_layer {
  background: #444;
  opacity: 0.97;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.waiting_layer img {

}
