.jan { background-image: url('../img/months/pic1-min.jpg');}
.feb { background-image: url('../img/months/pic2-min.jpg');}
.mar { background-image: url('../img/months/pic3-min.jpg'); }
.apr { background-image: url('../img/months/pic4-min.jpg');}
.mai { background-image: url('../img/months/pic5-min.jpg');}
.jun { background-image: url('../img/months/pic6-min.jpg');}
.jul { background-image: url('../img/months/pic7-min.jpg');}
.aug { background-image: url('../img/months/pic8-min.jpg');}
.sep { background-image: url('../img/months/pic9-min.jpg');}
.oct { background-image: url('../img/months/pic10-min.jpg');}
.nov { background-image: url('../img/months/pic11-min.jpg');}
.dec { background-image: url('../img/months/pic12-min.jpg');}

#month_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Staatliches', sans-serif;
}

.month_col {
    width: 49%;
    padding: 10px;
}

.month_col a{
    text-decoration: none;
}

#left_col {
    background: #F0FFFF ;
    min-height: 460px;
    box-shadow: -5px 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

#right_col {
    background-color: #EDD;
    display: flex;
    align-items: center;
    min-height: 460px;
    justify-content: center;
    padding: 0;
    font-weight: lighter;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

#month_header {
    text-align: center;
    padding: 3px;
    font-size: 1.4em;
}

.month_arrow {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1px;
    color: #222;
}

#month_name {
    font-weight: 600;
}

#month_tab {
    margin-left: auto;
    margin-right: auto;
}

.month_tab_header {
    text-align: center;
}

#month_body {
    
}

#month_body tr {
    
}

#month_body tr td {
    text-align: center;
}

.month_cal_week {
    border-top: 1px solid #888;
    color: #222;
    height: 60px;
    
}

.month_cal_cell {
    width: 60px;
    text-align: center;
    position: relative;
    
}

.day_link{
    font-size: 1.2em;
    font-weight: 900;
    color: #222;
}

.day_link:hover {
    color: #222;
}

.sunday {
    color: #FF2222;
}

.sunday:hover {
    color: #FF2222;
}

.today {
    background: #EAB106;
}

.circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 18px;
    background: #4C86B3;
}

.ev_title {
    display: none;
    background: rgba(80, 80, 90, 0.6);
    border-radius: 2%;
    color: #FFF;
    font-size: 1.2em;
    letter-spacing: 2px;
    
    padding: 30px;
    width: 90%;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    #right_col {
        display: none;
    }
    #left_col {
        width: 98%;
    }
}
