#calendar_wrapper h2{
    color: #0E5B96;
}

.week_cal {
    position: relative;
}

.week_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week_cal_nav a{
    text-decoration: none;
    font-size: 1.4em;
    margin-right: 18px;
}

.nav_arr i {
    font-size: 1.8em;
    font-weight: 600;
    color: #999;
}

.nav_arr i:hover {
    color: #888;
}

.week_body {
    display: flex;
    margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
    .week_body {
        flex-direction: column;
    }
}





.week_day {
    width: 14%;
    border: 1px solid #DDD;
    margin-left: 1px;
    margin-right: 1px;
}

.day_body {
    min-height: 300px;
}

@media only screen and (max-width: 768px) {
    .week_day {
        width: 96%;
    }
    
    .day_body {
        min-height: 200px;
    }
}

.day_header {
    background: #4C86B3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    min-height: 3em;
    padding: 2px 2px;
    letter-spacing: 2px;
}

.day_header span{
    display: inline-block;
    width: 95%;
}

.today {
    background: #FC6F37;
}

.day_body {
    padding: 5px;
    padding-bottom: 15px;
    height: 100%;
    display: none;
}

.event {
    min-height: 60px;
    max-height: 120px;
    padding: 4px 2px;
    margin: 10px 0;
    border-radius: 5%;
    text-align: center;
    overflow-y: hidden;
    background: #FFD862;
    color: #444;
}

.type1 {
    background-color: #FFD862;
}

.type2 {
    background-color: #FF8F62;
}

.type3 {
    background-color: #4C86B3;
}

.event h5 {
    font-size: 16px;
    font-weight: 600;
}

.event p {
    font-size: 14px;
}



/* Event forms -- -- */

.event_window {
    width: 30%;
    min-width: 250px;
    position: fixed;
    right: 0;
    top: 10px;
    height: 92vh;
    text-align: left;
    background: #eee;
    border: 1p solid #DED9D9;
}

.event_window h2, #event_view h3 {
    text-align: center;
}


#event_details {
    display: none;
}

#event_form_cont {
    display: none;
}


.time_group label {
    margin-right: 10px;
}

.form_select {
    padding: 10px 20px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    
    border: 1px solid #cecece;
    font-size: 16px;
    background: transparent;
    background-image:  url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%20000002%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-position: right 10px top 50%, 0, 0;
    background-size:  12px auto, 100%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    .event_window {
        width: 66%;
        right: 2%;
    }
}


.bg_marked {
    background: #eee;
}



/* alerts */
.fixed_alert {
    position: fixed;
    z-index: 100;
    width: 700px;
    max-width: 98%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

