#calendar_wrapper h2{
    color: #0E5B96;
}

.week_cal {
    position: relative;
}

.week_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.week_cal_nav a{
    text-decoration: none;
    font-size: 1.4em;
    margin-right: 18px;
}

.nav_arr i {
    font-size: 1.8em;
    font-weight: 600;
    color: #999;
}

.nav_arr i:hover {
    color: #888;
}

.week_body {
    display: flex;
    margin-bottom: 1em;
}

@media only screen and (max-width: 768px) {
    .week_body {
        flex-direction: column;
    }
}





.week_day {
    width: 14%;
    border: 1px solid #DDD;
    margin-left: 1px;
    margin-right: 1px;
}

.day_body {
    min-height: 300px;
}

@media only screen and (max-width: 768px) {
    .week_day {
        width: 96%;
    }
    
    .day_body {
        min-height: 200px;
    }
}

.day_header {
    background: #4C86B3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    min-height: 3em;
    padding: 2px 2px;
    letter-spacing: 2px;
}

.day_header span{
    display: inline-block;
    width: 95%;
}

.today {
    background: #FC6F37;
}

.day_body {
    padding: 5px;
    padding-bottom: 15px;
    height: 100%;
}

.event {
    min-height: 60px;
    padding: 4px 2px;
    margin: 10px 0;
    border-radius: 5%;
    text-align: center;
    background: #FFD862;
    color: #444;
}




/* Event forms -- -- */

.event_window {
    width: 30%;
    min-width: 250px;
    position: fixed;
    right: 0;
    top: 10px;
    height: 92vh;
    text-align: center;
    background: #eee;
    border: 1p solid #DED9D9;
}

#event_details {
    display: none;
}

#event_form_cont {
    display: none;
}


@media only screen and (max-width: 768px) {
    .event_window {
        width: 66%;
        right: 2%;
    }
}


.bg_marked {
    background: #eee;
}



/* alerts */
.fixed_alert {
    position: fixed;
    z-index: 100;
    width: 700px;
    max-width: 98%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

